@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-color: #949494;
  --darkBlue-color: #242742;
  --orange-color: #ff6a3a;
  --light-orange: #ff527b;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--grey-color);

  width: 100%;
}
.news-letter-container {
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;
  position: relative;
}

img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 0.5em;
}
li::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  background: url(./assets/images/icon-list.svg);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
li {
  display: flex;
  gap: 1em;
  line-height: 1.5;
}
.title,
.notification-title {
  font-size: clamp(40px, calc(2vw + 36px), 3.5rem);
  color: var(--darkBlue-color);
  font-weight: 700;
}
.mid-section {
  padding: 2.5em 1.5em;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 2.5em;
}
label {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--darkBlue-color);
  font-weight: 700;
  margin-bottom: 0.6em;
}
.error--message {
  color: #ff527b;
}
.input--field {
  width: 100%;
  padding: 1.25em;
  line-height: 1.5;
  font-size: 1rem;
  display: block;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 1px solid var(--grey-color);
  transition: all 0.2s ease-in-out;
}
.input--field:focus {
  border: 2px solid var(--grey-color);
  outline: 0;
}
.btn {
  width: 100%;
  cursor: pointer;
  padding: 1em 0;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: var(--darkBlue-color);
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.btn:active {
  transform: translateY(5px);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  opacity: 0.9;
}
/* success notification */
.notification-icon {
  width: 4rem;
}

.confirmation-text {
  background-color: #fff;
  padding: 8.75em 1.5em 4.375em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.success-notification {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.btn-notification {
  display: block;
}
.input-email {
  color: var(--darkBlue-color);
  font-weight: 600;
}

/**
 * Form Validation Errors
 */
.error {
  background-color: #ffdce5;
  border: 1px solid #ff6155;
  color: #ff6155;
}
@media (max-width: 50.5rem) {
  .news-letter-container {
    margin-block: 0;
  }
  .notification-text {
    margin-bottom: 16.38em;
  }
  .notification {
    max-width: 26.25rem;
    margin-inline: auto;
  }
}
/* media queries */
@media (min-width: 40.75rem) {
  .confirmation-text {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
  .news-letter-container {
    margin: 0;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2.62em 2.5em 0px 2.5em;
    border-radius: 40px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
  .notification {
    width: 100%;
    display: contents;
  }
  .notification-text {
    margin-bottom: 0;
  }
  .mid-section {
    padding: 2.5em 0;
  }
  .confirmation-text {
    padding: 3.74em 4em;
    height: 32.5rem;
    max-width: 32.5rem;
    width: 100%;
    border-radius: 36px;
  }
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 62.5rem) {
  .news-letter-container {
    max-width: 62.5rem;
    padding: 0;
  }
  .form-container {
    width: 100%;
    padding: 1.5em 2em;
    display: flex;
    align-items: center;
    gap: 64px;
    flex-direction: row-reverse;
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
  }
  main {
    height: 90vh;
  }
  .ready {
    background-image: linear-gradient(to right, #ff6a3a, #ff527b);
  }

  .btn-notification {
    background-image: linear-gradient(to right, #ff6a3a, #ff527b);
    box-shadow: 5px 5px 12px #ff527b;
  }
}

.hidden {
  display: none;
}
